.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  width: 1440px;
  height: 3300px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
button {
  font-family: inherit;
}
.header {
  display: flex;
  width: 1440px;
  height: 72px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.header-navigation {
  flex-shrink: 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  width: 44px;
}
.logo2 {
  color: #2e2f42;
  width: 71px;
}
.nsv-ul {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}
.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link:hover {
  color: #404bbf;
}
.nav-link:focus {
  color: #404bbf;
}

.header-contact {
  font-style: normal;
}
.header-contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-contact-link:hover {
  color: #404bbf;
}
.header-contact-link:focus {
  color: #404bbf;
}
.section-one {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  width: 1128px;
  height: 104px;
  flex-shrink: 0;
  width: 1440px;
  height: 732px;
  flex-shrink: 0;
}
.section-one-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 496px;
}
.section-one-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
}
.section-one-button:hover {
  background-color: #404bbf;
}

.section-one-button:focus {
  background-color: #404bbf;
}
.section-two-title-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-two {
  width: 1440px;
  height: 732px;
  flex-shrink: 0;
}
.section-two-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-two-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.sectiol-list {
  background-color: #ffffff;
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.section-three {
  background-color: #f4f4fd;
  width: 1440px;
  height: 3300px;
}
.footer {
  background-color: #2e2f42;
}
.footer-p {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.footer-span {
  color: #f4f4fd;
}
